@import "variables.scss";

body {
    font-family: 'Source Sans Pro', sans-serif;
    // background-color: $background;
    // color: $primary;

    a {
        color: $secondary;
        text-decoration: none;

        &:hover {
            color: $tertiary;
        }
    }

    p {
        font-size: 12pt;
    }
}

header {

    text-align: center;
    border-bottom: thin solid $accent;
    margin-bottom: 30px;
    
    #header-inner {

        #title {
            
            h1 {
    
                font-weight: 200;
                font-size: 40pt;
    
                @media (max-width: $sm) {
                    font-size: 28pt;
                }
    
                @media (max-width: $xs) {
                    font-size: 18pt;
                }
            }
        }
    }

}

main {
    padding: 0 2%;
}

.inner-wrapper {
        
    max-width: 768px;
    width: 100%;
    margin: auto;
}