html {
  font-family: sans-serif;
  color: #fdfdfd;
  background: #101010;
  letter-spacing: 0.1em;
  line-height: 2;
}

body {
  max-width: 1024px;
  max-height: 768px;
  margin: 1em auto;
}

#title {
  font-weight: 400;
  font-size: 3em;
}

#wrapper {
  width: 100%;
}

iframe {
  border: none;
}

kbd {
  padding: 0.5em;
  margin: 0 0.1em;
  font-family: sans-serif;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}